.endpoint_loading {
    color: white;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.endpoint_text {
    color: white;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

